@using CentricProjectTeam4.DAL;
@using CentricProjectTeam4.Models;
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        MyContext db = new MyContext();

        var currentUserID = Guid.Parse(User.Identity.GetUserId());
        RegisteredUser currentUser = db.RegisteredUsers.Find(currentUserID);

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    if (currentUser == null)
                    {
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Details", "RegisteredUsers", routeValues: new { id = currentUser.registeredUserID }, htmlAttributes: null)*@
                    }
                    else
                    {
                        @*@Html.ActionLink("Hello " + currentUser.firstName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                        @Html.ActionLink("Hello " + currentUser.firstName + "!", "Details", "RegisteredUsers", routeValues: new { id = currentUser.registeredUserID }, htmlAttributes: null)
                    }
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
